:root {
  --cor-12: #000000;
  --cor-11: #111111;
  --cor-10: #2e2e2e;
  --cor-09: #404040;
  --cor-08: #595959;
  --cor-07: #717171;
  --cor-06: #9c9c9c;
  --cor-05: #b2b2b2;
  --cor-04: #cccccc;
  --cor-03: #dedede;
  --cor-02: #ededed;
  --cor-01: #f7f7f7;
  --cor-00: #ffffff;
  --prim-05: #332200;
  --prim-04: #664400;
  --prim-03: #a66f00;
  --prim-02: #e4a30b;
  --prim-01: #ffbb00;
}
