:root {
  --cor-12: #000000;
  --cor-11: #111111;
  --cor-10: #2e2e2e;
  --cor-09: #404040;
  --cor-08: #595959;
  --cor-07: #717171;
  --cor-06: #9c9c9c;
  --cor-05: #b2b2b2;
  --cor-04: #cccccc;
  --cor-03: #dedede;
  --cor-02: #ededed;
  --cor-01: #f7f7f7;
  --cor-00: #ffffff;
  --prim-05: #332200;
  --prim-04: #664400;
  --prim-03: #a66f00;
  --prim-02: #e4a30b;
  --prim-01: #ffbb00;
}

.cor-12 {
  color: #000000;
}

.cor-11 {
  color: #111111;
}

.cor-10 {
  color: #2e2e2e;
}

.cor-09 {
  color: #404040;
}

.cor-08 {
  color: #595959;
}

.cor-07 {
  color: #717171;
}

.cor-06 {
  color: #9c9c9c;
}

.cor-05 {
  color: #b2b2b2;
}

.cor-04 {
  color: #cccccc;
}

.cor-03 {
  color: #dedede;
}

.cor-02 {
  color: #ededed;
}

.cor-01 {
  color: #f7f7f7;
}

.cor-00 {
  color: #ffffff;
}

.cor-p-05 {
  color: #332200;
}

.cor-p-04 {
  color: #664400;
}

.cor-p-03 {
  color: #a66f00;
}

.cor-p-02 {
  color: #e4a30b;
}

.cor-p-01 {
  color: #ffbb00;
}
