.perguntas {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
.perguntas h2 {
  margin-bottom: 3.75rem;
}
.perguntas dl > div {
  padding: 1.25rem;
  border-radius: 0.34rem;
}
.perguntas dl > div:nth-child(odd) {
  background-color: var(--cor-01);
}
.perguntas dt {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.perguntas dt:before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.5rem;
  background-color: var(--prim-01);
  align-self: center;
}
.perguntas dt:after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url(../../img/Icone/seta-abrir.svg);
  align-self: center;
  transition: 0.3s;
}
.perguntas dt:hover:after {
  transform: rotate(180deg);
}
.perguntas dd {
  padding-top: 1.25rem;
  padding-left: 1.25rem;
  max-width: 80ch;
}
@media (max-width: 800px) {
  .perguntas {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  .perguntas h2 {
    margin-bottom: 2.5rem;
  }
}
